<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}

<section id="dyplomy" class="services section-bg p-4">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6"><img class="img-fluid" alt="dyplom" src="{% static 'assets/img/diplomas/122117696_675260183424533_71797346678313335_n.jpg' %}" /></div>
            <div class="col-lg-6"><img class="img-fluid" alt="dyplom" src="{% static 'assets/img/diplomas/122151780_345671683358974_865482331146749574_n.jpg' %}" /></div>
        </div>
        <div class="row px-1">
            <img class="img-fluid" alt="dyplom" src="{% static 'assets/img/diplomas/Certyfikat-Joanna-Rajsner_min.png' %}" />
        </div>
        <div class="row px-1">
            <img class="img-fluid" alt="dyplom" src="{% static 'assets/img/diplomas/certyfikat_Joanna-Rajsner-2.10_min.png' %}" />
        </div>
        <div class="row px-1">
            <img class="img-fluid" alt="dyplom" src="{% static 'assets/img/diplomas/certyfikat_Joanna-Rajsner_min.png' %}" />
        </div>
        <div class="row px-1">
            <img class="img-fluid" alt="dyplom" src="{% static 'assets/img/diplomas/certyfikat_Joanna_Rajsner_min.png' %}" />
        </div>
    </div>
</section>

{% endblock %}

