<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    @media (min-width: 576px) {
        .table-kot {
            font-size: 24px;
        }
    }

    @media (min-width: 768px) {
        .table-kot {
            font-size: 20px;
        }
    }

    @media (min-width: 992px) {
        .table-kot {
            font-size: 18px;
        }
    }


</style>
{% endblock %}

{% block content %}



<section id="incoming" class="services section-bg" style="padding-top: 60px;">
    <div class="container">


    <p>hej</p>
    </div>
</section>
{% endblock %}

