<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}

<section id="dyplomy" class="services section-bg p-6">
    <div class="container">
        <div class="row mt-5 px-1">
            <img class="img-fluid" alt="dyplom" src="{% static 'assets/img/diplomas/Joanna-Rajsner-zakaźne_min.jpg' %}" />
        </div>
        <div class="row px-1">
            <img class="img-fluid" alt="dyplom" src="{% static 'assets/img/diplomas/Joanna-Rajsner_min.jpg' %}" />
        </div>
    </div>
</section>

{% endblock %}

